.container {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .container div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .container div h1 {
    font-weight: 800;
    font-size: 24px;
  }
  
  .container div button {
    background-color: rgba(216, 255, 225, 1);
    color: rgba(40, 167, 69, 1);
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
  }

  .container img {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
      text-align: right;
    }
  
    .container div {
        margin: auto 0;
      gap: 30px;
    }
  
    .container div h1 {
      font-size: 30px;
    }
  
    .container div button {
      padding: 15px;
      font-size: 20px;
      width: auto;
    }
    .container img {
        width: unset;
    }
  }