.imgContainer {
  margin: 0 -80px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}


.container h2,
.container span {
  color: rgba(89, 89, 89, 1);
  text-align: center;
  font-weight: 700;
  font-size: 28px;
}

.container h2 span {
  color: rgba(40, 167, 69, 1);
}
