.container ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.container ul li {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.container ul li img {
  width: 100%;
  height: fit-content;
}

.container ul li:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.container ul li:hover h3 {
  color: rgba(0, 158, 202, 1);
  font-weight: 600;
}

.details {
  padding: 10px;
}

.options {
  display: flex;
}

.reserve {
  margin-top: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
}

.reserve button {
  background-color: rgba(40, 167, 69, 1);
  color: white;
  height: fit-content;
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.reserve p {
  margin-top: 10px;
  font-size: 15px;
}

.reserve p span {
  font-size: 20px;
  color: rgba(0, 158, 202, 1);
}


@media (min-width: 768px) {
  .container ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
  }

  .container ul li {
    width: calc(50% - 12.5px);
  }

  .reserve {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  .reserve button {
    width: auto;
    margin-top: 10px;
    padding: 5px 15px;
  }

  .reserve p {
    margin-top: 10px;
    text-align: right;
  }
}

@media (min-width: 1024px) {
  .container ul li {
    width: calc(33.333% - 17px);
  }
}